* {
    border-radius: 8px;
}

.social-media.blog {
    background-color: #e17b77;
    width: 50px;
    height: 50px;
    position: absolute;
    padding: 15px;
}
.social-media.facebook {
    background-color: #3b5998;
}

.social-media.twitter {
    background-color: #00aced;
}

.social-media.github {
    background-color: #333;
}

.social-media.linkedin {
    background-color: #007bb6;
}

.first__child img {
    position: absolute;
    width: 260px;
    height: 400px;
    display: inline-block;
}
.image {
    display: block;
    width: fit-content;
    height: fit-content;
}
.overlay {
    position: relative;
    transition: all 0.3s ease-in;
    opacity: 0;
    background-color: rgb(5, 5, 15);
}
.first__child:hover .overlay {
    opacity: 1;
}

.btn__1 {
    color: oldlace;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 50px;
    margin: auto;
}
.overlayfade {
    height: 400px;
    width: 260px;
    top: 0;
    left: 0;
}
//---------------------btn2-------------------------------------------------------------------------------
.second__child img {
    position: absolute;
    width: 260px;
    height: 400px;
    display: inline-block;
}

.second__child:hover .overlay {
    opacity: 1;
}

.btn__2 {
    color: oldlace;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 50px;
}
//--------------------btn3---------------------------------------
.third__child img {
    position: absolute;
    width: 260px;
    height: 400px;
    display: inline-block;
}

.third__child:hover .overlay {
    opacity: 1;
}

.btn__3 {
    color: oldlace;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 50px;
}
//----------------------btn4-------------------------------------------------------------
.fourth__child img {
    position: absolute;
    width: 260px;
    height: 400px;
    display: inline-block;
}

.fourth__child:hover .overlay {
    opacity: 1;
}

.btn__4 {
    color: oldlace;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 50px;
}
//-------------------------------btn5------------------------------------------
.fifth__child img {
    position: absolute;
    width: 260px;
    height: 400px;
    display: inline-block;
}

.fifth__child:hover .overlay {
    opacity: 1;
}

.btn__5 {
    color: oldlace;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 50px;
}
//----------------------------------------btn6-----------------------------------------
.sixth__child img {
    position: absolute;
    width: 260px;
    height: 400px;
    display: inline-block;
}

.sixth__child:hover .overlay {
    opacity: 1;
}

.btn__6 {
    color: oldlace;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 50px;

    //----------------------------------btn7-------------------------------------------
}
.seventh__child img {
    position: absolute;
    width: 260px;
    height: 400px;
    display: inline-block;
}

.seventh__child:hover .overlay {
    opacity: 1;
}

.btn__7 {
    color: oldlace;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 50px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: repeat(5, 400px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.first__child {
    grid-area: 1 / 1 / 2 / 2;
}
.second__child {
    grid-area: 2 / 1 / 3 / 2;
}
.third__child {
    grid-area: 3 / 1 / 4 / 2;
}
.fourth__child {
    grid-area: 4 / 1 / 5 / 2;
}
.fifth__child {
    grid-area: 5 / 1 / 6 / 2;
}
.sixth__child {
    grid-area: 6 / 1 / 7 / 2;
}
.seventh__child {
    grid-area: 7 / 1 / 8 / 2;
}
.btn__1 {
    grid-area: 1 / 1 / 2 / 2;
}
.btn__2 {
    grid-area: 2 / 1 / 3 / 2;
}
.btn__3 {
    grid-area: 3 / 1 / 4 / 2;
}
.btn__4 {
    grid-area: 4 / 1 / 5 / 2;
}
.btn__5 {
    grid-area: 5 / 1 / 6 / 2;
}
.btn__6 {
    grid-area: 6 / 1 / 7 / 2;
}
.btn__7 {
    grid-area: 7 / 1 / 8 / 2;
}

@media screen and (min-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 260px);
        grid-template-rows: repeat(5, 400px);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
    }

    .first__child {
        grid-area: 1 / 1 / 2 / 2;
    }
    .second__child {
        grid-area: 1 / 2 / 2 / 3;
    }
    .third__child {
        grid-area: 2 / 1 / 3 / 2;
    }
    .fourth__child {
        grid-area: 2 / 2 / 3 / 3;
    }
    .fifth__child {
        grid-area: 3 / 1 / 4 / 2;
    }
    .sixth__child {
        grid-area: 3 / 2 / 4 / 3;
    }
    .seventh__child {
        grid-area: 4 / 1 / 5 / 2;
    }
    .btn__1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .btn__2 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .btn__3 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .btn__4 {
        grid-area: 2 / 2 / 3 / 3;
    }
    .btn__5 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .btn__6 {
        grid-area: 3 / 2 / 4 / 3;
    }
    .btn__7 {
        grid-area: 4 / 2 / 5 / 2;
    }
}

@media screen and (min-width: 1024px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 260px);
        grid-template-rows: repeat(3, 400px);
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }

    .first__child {
        grid-area: 1 / 1 / 2 / 2;
    }
    .second__child {
        grid-area: 1 / 2 / 2 / 3;
    }
    .third__child {
        grid-area: 1 / 3 / 2 / 4;
    }
    .fourth__child {
        grid-area: 2 / 1 / 3 / 2;
    }
    .fifth__child {
        grid-area: 2 / 2 / 3 / 3;
    }
    .sixth__child {
        grid-area: 2 / 3 / 3 / 4;
    }
    .seventh__child {
        grid-area: 3 / 1 / 4 / 2;
    }
    .btn__1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .btn__2 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .btn__3 {
        grid-area: 1 / 3 / 2 / 4;
    }
    .btn__4 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .btn__5 {
        grid-area: 2 / 2 / 3 / 3;
    }
    .btn__6 {
        grid-area: 2 / 3 / 3 / 4;
    }
    .btn__7 {
        grid-area: 3 / 1 / 4 / 2;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #30333a;
}

.wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

ul {
    list-style: none;
}

ul li {
    width: 50px;
    height: 50px;
    position: relative;
    background: #e59500;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

ul li .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
}

ul li.facebook {
    background: #3b5998;
}

ul li.twitter {
    background: #00aced;
}

ul li.blog {
    background: #e17b77;
}

ul li.github {
    background: #333;
}

ul li.linkedin {
    background: #007bb6;
}

ul li.facebook div.slider {
    background: #627aac;
}

ul li.twitter div.slider {
    background: #7fd5f6;
}

ul li.linkedin div.slider {
    background: #007bb6;
}

ul li.github div.slider {
    background: #333;
}

ul li.blog div.slider {
    background: #e17b77;
}

.slider {
    content: "";
    position: absolute;
    top: 0;
    right: 51px;
    width: 0px;
    height: 50px;
    background: #eebb5c;
    border-radius: 3px;
    transition: all 0.5s 0.3s ease;
}

.slider p {
    font-family: arial;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
}

ul li:hover .slider {
    width: 180px;
    transition: all 0.5s ease;
}

ul li:hover .slider p {
    opacity: 1;
    transition: all 1s 0.2s ease;
}
